
  <body id="top" class="style-2">
   
    <div class="loadingContainer">
      <div class="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div><!-- end of loading -->
    </div><!-- end of loading container -->
    
    <div class="allWrapper">
      
      <!-- Slider -->
      <section class="slider section mainSection scrollAnchor darkSection" id="slider">

        <div id="mainSlider" class="mainSlider homeSlider_2  owl-carousel sliderStyle1">

          <div id="slide1" class="item slide">
            <div class="cover"></div><!-- end of cover -->
            <img  src="assets/images/slider/1.jpg" title="Slide 1" alt="slide 1">
            <div class="captions">
              <h2 class="animated">Welcome To Kuncham Hosting ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
              <p class="animated">
                Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <p class="links animated">
                <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
              </p><!-- end of links -->
            </div><!-- end of captions -->
          </div><!-- end of slide -->

          <div id="slide2" class="item slide">
            <div class="cover"></div><!-- end of cover -->
            <img  src="assets/images/slider/2.jpg" title="Slide 2" alt="slide 2">
            <div class="captions">
              <h2 class="animated">Welcome To Kuncham Hosting ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
              <p class="animated">
                Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <p class="links animated">
                <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
              </p><!-- end of links -->
            </div><!-- end of captions -->
          </div><!-- end of slide -->

          <div id="slide3" class="item slide">
            <div class="cover"></div><!-- end of cover -->
            <img  src="assets/images/slider/3.jpg" title="Slide 3" alt="slide 3">
            <div class="captions">
              <h2 class="animated">Welcome To Kuncham Hosting ,<br>Your Trusted &amp; Reliable Hosting Provider</h2>
              <p class="animated">
                Lorem Ipsum is simply dummy of the printing and typesetting "s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <p class="links animated">
                <a class="animated link sliderLinks light details" href="#" title="More Details About Hosting Servers">More Details About Hosting Servers</a>
              </p><!-- end of links -->
            </div><!-- end of captions -->
          </div><!-- end of slide -->

        </div><!-- end of main slider -->

      </section><!-- end of slider -->

      <!-- Header -->
      <header class="header headerStyle1 headerStyle2" id="header">
        <div class="sticky scrollHeaderWrapper">
          <div class="container">
            <div class="row">

              <div class="logoWrapper">
                <h1 class="logo">
                  <a class="clearfix" href="home-2.html" title="Kuncham Hosting">
                    <span class="square">
                      <span>K</span>
                    </span>
                    <span class="text"> Hosting</span>
                  </a>
                </h1><!-- end of logo -->
              </div><!-- end of logoWrapper -->

              <nav class="mainMenu mainNav" id="mainNav">
                <ul class="navTabs">
                  <li>
                    <a href="/home" class="active">Home</a>
                  </li>
				  
				  <li>
                    <a href="/domain">Domain</a>
                   </li>
				   
                  <li>
                    <a href="web-hosting-1.html">Hosting</a>                   
                  </li>
                                  
                  <li>
                    <a href="services.html">Services</a>                    
                  </li>
				  
				   <li> 
                    <a href="#">Pages</a>
                    <ul class="dropDown sub-menu">                    
					<li>
                        <a href="portfolio-2column.html">Portfolio</a>                       
                      </li>
                      <li><a href="testmonials.html">Testmonials</a></li>
                    </ul><!-- end of dropdown -->
                  </li>
				  
                  <li>
                    <a href="contact-1.html">Contact</a>                   
                  </li>
				  
                  <li class="login formTop">
                    <button class="formSwitcher"  data-toggle="modal" data-target="#loginModal">Login</button>
                    <div class="modal loginModal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="container">
                        <ol class="formWrapper loginFormWrapper" id="loginFormWrapper">
                          <li><h5><i class="fa fa-user"></i>Login Area</h5></li>
                          <li>
                            <form class="loginForm" method="POST">
                              <input class="loginName" id="loginName" name="loginName" placeholder="Name" type="text">
                              <input class="loginPassword" id="loginPassword" name="loginPassword" placeholder="Password" type="password">
                                <input type="checkbox" name="remember" id="remember">
                                <label for="remember">Remember Me</label>
                              <button class="generalBtn loginBtn" type="submit">Login</button>
                            </form>
                          </li>
                          <li class="register"><p><a href="register.html">Create A new Account</a></p></li>
                        </ol>
                      </div><!-- end of container -->
                    </div><!-- end of modal -->
                    <a href="login.html">Login</a>
                  </li>
                </ul><!-- end of nav tabs -->
              </nav><!-- end of main nav -->
      
              <a href="#" class="generalLink" id="responsiveMainNavToggler"><i class="fa fa-bars"></i></a>
              <div class="clearfix"></div><!-- end of clearfix -->
              <div class="responsiveMainNav"></div><!-- end of responsive main nav -->
              
            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of sticky -->
      </header><!-- end of header -->

      <!-- Welcome -->
      <section class="welcome welcome2 section mainSection scrollAnchor lightSection" id="welcome">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Welcome To Kuncham Hosting , Awesome Hosting Template
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>The Kuncham is provided a Web hosting,Domins,C panel and cloud access.and Kuncham provided safely Security. </p>
              </div><!-- end of section title -->
              
            </div><!-- end of row -->

            <div class="row">
              <div class="servicesCarousel servicesGallary">

                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-1"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">System Admin</h3>
                      <p class="servicesDescription" style="text-align:justify;">system administrator, or sysadmin, is a person who is responsible for the
					  upkeep, configuration, and reliable operation of computer systems; especially multi-user computers, 
					  such as servers. The system administrator seeks to ensure that the uptime, performance, resources, 
					  and security of the computers he or she manages meet the needs of the users, without exceeding 
					  a set budget when doing so..</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->
                
                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-2"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Backups &amp; Storage</h3>
                      <p class="servicesDescription" style="text-align:justify;" >The component of Microsoft Windows introduced in Windows Vista and included 
					  in later versions that allow users to create backups and restore from backups created earlier. It is a 
					  replacement of NTBackup, which was included in previous Windows versions. It became a deprecated feature
					  in Windows 8 before being completely removed in Windows 8.1 in favor of File History.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->
                
                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-3"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">24 / 7 Live Support</h3>
                      <p class="servicesDescription">Kuncham supported a 24/7 Live and it any issue any time reactive in clients.The numerals stand for "24 hours a day, 7 days a week". Less commonly used, 24/7/52 (adding "52 weeks") and 24/7/365 service (adding "365 days") .</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->
                
                <div class="col-md-6 col-sm-6 item service singleServiceWrapper">
                  <div class="singleService singleService2 clearfix">
                    <div class="serviceIcon">
                      <div class="servicesIconBase servicesBg-4"></div>
                    </div><!-- end of services icon -->
                    <div class="servicesContents">
                      <h3 class="serviceName">Worldwide locations</h3>
                      <p class="servicesDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                      <a class="readMore generalLink" href="#">Read More</a>
                    </div><!-- end of services contents -->
                  </div><!-- end of single service -->
                </div><!-- end of single service wrapper -->
                
              </div><!-- end of services gallary -->
              
            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end welcome section -->

     <!-- Domain Search Area -->
    <div class="service-section text-center"> 
				<div class="container">
				    <h1 class="site-title">Our Services</h1>
				    <p>There are many variations of passages of Lorem Ipsum available,</p>
				    <div class="text-heading-line"> </div>
					<br>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="col-md-4 botmargin">
						<i class="animated fa fa-desktop" style="font-size:33px;"></i>
						<h4><a href="#">Lorem Ipsum </a></h4>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
    <!-- /Domain Search Area -->


      <!-- Pricing -->
      <section class="pricing pricing2 section mainSection scrollAnchor graySection" id="pricing">
        <div class="sectionWrapper">
          <div class="container">
            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Great Plans, Different Packages And Incredible Prices :)
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
              </div><!-- end of section title -->
              
              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Basic Plan
                      <br>
                      <span>Ideal for Starter Websites</span>
                    </h3>
                    <span class="pricingPerMonth">10 $ Month</span>
                  </header><!-- end pricing header -->
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                      <p><a class="generalLink moreDetails" href="#" title="More Details">Get It Now</a></p>
                      
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Professional Plan
                      <br>
                      <span>Ideal for Larger Websites</span>
                    </h3>
                    <div class="pricingPerMonth">20 $ Month</div>
                  </header><!-- end pricing header -->
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                     <p><a class="generalLink moreDetails" href="#" title="More Details">Get It Now</a></p>
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

              <div class="col-md-4">
                <div class="pricingTable">
                  <header class="pricingHeader clearfix">
                    <h3 class="pricingTitle planTitle">
                      Ultra Plan
                      <br>
                      <span>Ideal for Higher Traffic Websites</span>
                    </h3>
                    <div class="pricingPerMonth">30 $ Month</div>
                  </header><!-- end pricing header -->
                  <ul class="pricingBody planBody">
                    <li>
                      Disk Space
                      <span>300 GB</span>
                    </li>
                    <li>
                      Data Transfer
                      <span>Unlimited</span>
                    </li>
                    <li>
                      Ftp Accounts
                      <span>25</span>
                    </li>
                    <li>
                      Email Boxes
                      <span>1000</span>
                    </li>
                    <li>
                      Free Domains
                      <span>1</span>
                    </li>
                    <li>
                      Support
                      <span>24Hours</span>
                    </li>
                    <li class="clearfix">
                      <p><a class="generalLink moreDetails" href="#" title="More Details">Get It Now</a></p>
                    </li>
                  </ul><!-- end pricing body -->
                </div><!-- end of pricing table -->
              </div>

            </div><!-- end of row-->
          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end of pricing section -->
   
      <!-- Testmonials -->
      <section class="testmonials testmonials2 section mainSection scrollAnchor darkSection" id="testmonials">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  What Our Customers Say About Us :)
                </h2><!-- end of sectionHeader -->
              </div><!-- end of section title -->
              
            </div><!-- end of row -->

            <div class="row">

              <div class="testmonialsCarousel2 owl-carousel testmonialsGallary">

                <div class="col-md-12 item testmonial singleTestmonialWrapper">
                  <div class="singleTestmonial2">
                    <div class="testmonialsTopContents clearfix">
                      <img alt="testmonials user" class="testmonialthumb" src="images/test-1.jpg">
                      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. </p></blockquote>
                    </div><!-- end of testmonials top contents -->
                    <div class="testmonialsBottomContents">
                      <p><a class="userName" href="#" title="user name">Begha</a></p>
                     
                    </div><!-- end of testmonials bottom contents -->
                  </div><!-- end of single testmonial -->
                  
                </div><!-- end of single testmonials wrapper -->

                <div class="col-md-12 item testmonial singleTestmonialWrapper">
                  <div class="singleTestmonial2">
                    <div class="testmonialsTopContents clearfix">
                      <img alt="testmonials user" class="testmonialthumb" src="images/test-2.jpg">
                      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. </p></blockquote>
                    </div><!-- end of testmonials top contents -->
                    <div class="testmonialsBottomContents">
                      <p><a class="userName" href="#" title="user name">Aya</a></p>
              
                    </div><!-- end of testmonials bottom contents -->
                  </div><!-- end of single testmonial -->
                  
                </div><!-- end of single testmonials wrapper -->
                
                <div class="col-md-12 item testmonial singleTestmonialWrapper">
                  <div class="singleTestmonial2">
                    <div class="testmonialsTopContents clearfix">
                      <img alt="testmonials user" class="testmonialthumb" src="images/test-3.jpg">
                      <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. </p></blockquote>
                    </div><!-- end of testmonials top contents -->
                    <div class="testmonialsBottomContents">
                      <p><a class="userName" href="#" title="user name">Bayoo</a></p>
                   
                    </div><!-- end of testmonials bottom contents -->
                  </div><!-- end of single testmonial -->
                  
                </div><!-- end of single testmonials wrapper -->

                
              </div><!-- end of testmonials gallary -->

            </div><!-- end of row -->

          </div><!-- end of container -->
        </div><!-- end of section wrapper -->
      </section><!-- end testmonials section -->


      <!-- Clients -->
      <section class="clients section mainSection scrollAnchor lightSection" id="clients">
        <div class="sectionWrapper">
          <div class="container">

            <div class="row">

              <div class="col-md-12 sectionTitle">
                <h2 class="sectionHeader">
                  Why You Are Hesitated, Join Our Happy Customers Now !
                  <span class="generalBorder"></span>
                </h2><!-- end of sectionHeader -->
              </div><!-- end of section title -->
              
            </div><!-- end of row -->

            <div class="row">

              <div class="clientsCarousel owl-carousel clientsGallary">

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 1" src="images/clients/1.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 2" src="images/clients/2.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 3" src="images/clients/3.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 4" src="images/clients/4.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 5" src="images/clients/5.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 6" src="images/clients/6.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 7" src="images/clients/7.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <div class="col-md-2 col-sm-4 item client singleClientsWrapper">
                  <a class="singleClient" href="#" title="client">
                    <img alt="client 8" src="images/clients/8.png" title="client">
                  </a><!-- end of single client -->
                </div><!-- end of single client wrapper -->

                <!-- end of single client wrapper -->

              </div><!-- end of clients gallary -->

            </div><!-- end of row -->

          </div>
        </div>
      </section><!-- end clients section -->

      