<footer class="footer" id="footer">

        <!-- Top Footer -->
        <div class="topFooter">
          <div class="container">
            <div class="row">

              <div class="col-md-4 footerWidget footerBox">
                <h5 class="footerWidgetHeader">About Seven Host</h5><!-- end of footer widget header -->
                <p class="footerAboutContent footerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis.</p>
                <div class="aboutLinks clearfix">
                  <ul class="footerLinksList">
                    <li><a href="about.html" title="About Us">About Us</a></li>
                    <li><a href="blog.html" title="Our Blog">Our Blog</a></li>
                    <li><a href="services.html" title="Our Services">Our Services</a></li>
                    <li><a href="contact.html" title="Contact Us">Contact Us</a></li>
                    <li><a href="#" title="Web Hosting">Web Hosting</a></li>
                    <li><a href="#" title="Dedicated Servers">Dedicated Servers</a></li>
                    <li><a href="#" title="Cloud Hosting">Cloud Hosting</a></li>
                    <li><a href="#" title="Cloud Servers">Cloud Servers</a></li>
                  </ul><!-- end of footer links list -->
                </div><!-- end of about links -->
              </div><!-- end of footer widget -->
              
              <div class="col-md-2 footerWidget footerBox">
                <h5 class="footerWidgetHeader">Help &amp; Support</h5><!-- end of footer widget header -->
                <ul class="footerLinksList">
                  <li><a href="faq.html" title="FAQs">FAQs</a></li>
                  <li><a href="#" title="Live Support">Live Support</a></li>
                  <li><a href="#" title="Submit Ticket">Submit Ticket</a></li>
                  <li><a href="#" title="Support Tickets">Support Tickets</a></li>
                  <li><a href="#" title="Customer Panel">Customer Panel</a></li>
                  <li><a href="#" title="Knowledge Base">Knowledge Base</a></li>
                  <li><a href="#" title="Networks Status">Networks Status</a></li>
                  <li><a href="#" title="Infrastructure">Infrastructure</a></li>
                </ul><!-- end of footer links list -->
              </div><!-- end of footer widget -->
              
              <div class="col-md-2 footerWidget footerBox">
                <h5 class="footerWidgetHeader">My Account</h5><!-- end of footer widget header -->
                <ul class="footerLinksList">
                  <li><a href="sing-in.html" title="Sign In">Sign In</a></li>
                  <li><a href="#" title="View Cart">View Cart</a></li>
                  <li><a href="#" title="My Wish List">My Wish List</a></li>
                  <li><a href="#" title="Track My Ticket">Track My Ticket</a></li>
                  <li><a href="#" title="Help">Help</a></li>
                </ul><!-- end of footer links list -->
              </div><!-- end of footer widget -->

              <div class="col-md-4 footerWidget footerBox">
                <h5 class="footerWidgetHeader">Get In Touch</h5>
                <ul class="getInTouchList">
                  <li>
                    <span class="head">Address :</span>
                    <span class="text">Seven Host Network , 2 AlBahr St, Tanta , AlGharbia, Egypt.</span>
                  </li>
                  <li>
                    <span class="head">Sales :</span>
                    <span class="text">
                      Sales Telephone No  :
                      <a href="tele:0201065370701" title="click to call us">02 01065370701</a>
                    </span>
                    <span class="text">
                      Sales Email Account  :
                      <a href="mailto:sales@sevenhost.com" title="click to mail us">sales@sevenhost.com</a>
                    </span>
                  </li>
                  <li>
                    <span class="head">Support  :</span>
                    <span class="text">
                      Support  Telephone No  :
                      <a href="tele:0201065370701" title="click to call us">02 01065370701</a>
                    </span>
                    <span class="text">
                      Support  Email Account  :
                      <a href="mailto:support@sevenhost.com" title="click to mail us">Support @sevenhost.com</a>
                    </span>
                  </li>
                </ul><!-- end of get In Touch List -->
              </div><!-- end of footer widget -->
              
            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of top footer -->
        
        <!-- Bottom Footer -->
        <div class="bottomFooter">
          <div class="container">
            <div class="row">

              <div class="col-md-6 copyrights">
                <p>All Rights Reserved &copy; KUNCHAMS Software Solutions Pvt.Ltd. </p>                
              </div><!-- end of copyrights -->

              <div class="col-md-6 footerSocial">
                <div class="footerSocialWrapper">

                  <ul class="bottomSocial socialNav">
                    <li class="facebook"><a href="#"><i class="animated fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="animated fa fa-twitter"></i></a></li>
                    <li class="rss"><a href="#"><i class="animated fa fa-rss"></i></a></li>
                  </ul><!-- end of bottom social -->

                  <ul class="paymentsNav">
                    <li class="visa">
                      <a href="#" title="visa"><img alt="visa card" src="assets/images/visa.png" title="visa card"></a>
                    </li>
                    <li class="master">
                      <a href="#" title="master card"><img alt="master card" src="assets/images/master-card.png" title="master card"></a>
                    </li>
                    <li class="americanExpress">
                      <a href="#" title="american express"><img alt="american express" src="assets/images/american-express.png" title="american express"></a>
                    </li>
                    <li class="paypal">
                      <a href="#" title="paypal"><img alt="paypal" src="assets/images/paypal.png" title="paypal"></a>
                    </li>
                  </ul><!-- end of payments nav -->
                </div><!-- end of footer social wrapper -->
              </div><!-- end of footer social -->
            </div><!-- end of row -->
          </div><!-- end of container -->
        </div><!-- end of bottom footer -->
        
      </footer><!-- end of footer -->